<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logs">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>