<ion-header>
  <ion-toolbar>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>⚠️ THIS A TEST/EXAMPLE ALERT! PLEASE VISIT THE ALERT TAB FOR UP-TO-DATE INFORMATION</ion-card-subtitle>
      <ion-card-title>😷</ion-card-title>
      <ion-card-title>Possible Exposure to COVID-19</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      You have <ion-text color="danger">possible exposure</ion-text> to COVID-19. You were within <strong>20 feet</strong> for <strong>10 minutes</strong> of someone who tested posititve for COVID-19.
      Please contiune <strong>wearing a mask, staying 6 feet apart, and avoiding interactions with other people.</strong> Please get tested as soon as possible at a Drexel Testing site.
    </ion-card-content>
    <div style="margin: 0 auto; text-align: center; margin-bottom: 20px;"><ion-button href="https://drexel.edu/coronavirus/health-safety/COVID-19-testing/" target="_blank">Schedule a Test</ion-button></div>
  </ion-card>
</ion-content>