<ion-header>
  <ion-toolbar>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{currentDate | date:'MMMM dd, yyyy'}}</ion-card-subtitle>
      <ion-card-title>😃</ion-card-title>
      <ion-card-title>No Exposure Detected</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      While <ion-text color="success">no exposure</ion-text> was detected, you should continue <strong>wearing a mask, staying 6 feet apart, and reduce interactions</strong> with others.
    </ion-card-content>
  </ion-card>
</ion-content>