<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 0 auto; text-align: center; padding-bottom: 50px;">
    <ion-text><h1>Welcome to DragonTrack!</h1></ion-text>
  </div>
  <div style="margin: 0 auto; text-align: center;">
    <ion-text color="secondary"><h4>Quick Actions</h4></ion-text>
    <ion-button routerLink="/create">
      Add Location
    </ion-button>
    <br>
    <ion-button color="light" routerLink="/alerts">
      View Alerts
    </ion-button>
    <br>
    <ion-button color="light" routerLink="/logs">
      View Log
    </ion-button>
    <br>
    <ion-button color="light" routerLink="/alert-example">
      Test Exposure Alert
    </ion-button>
  </div>
</ion-content>
